/* --- Formulario contactanos --- */
.form{
    color: #0065C3;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

input, textarea, select{
    border-radius: 25px;
    width: 100%;
    height: 60px;
    padding: 1rem;
    border: #0065C3 solid 2px;
    color:#0065C3;
    font-size: 1rem;
    font-weight: 600;
}

textarea{
    min-height: 200px;
}

input:enabled:focus, textarea:enabled:focus {
    border: #0065c37d solid 8px;
}

.form_main {
    background-color: #ffffff;
    width: auto;
    max-width: 100%;
    border-radius: 25px;
    position: relative;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-right: 25px;
    top: 50px;
    bottom: -100px;
  }
  
.form_main h2{
    color: #0065C3;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
  }

h6{
    text-align: justify;
  }

.message{
    text-align: center;
    color: #0065C3;
}

.form_coment{
    text-align: center;
    color: #0065C3;
    align-items: center;
    align-content: center;
}

.submit{
    width: 25vw;
    font-size: 1rem;
    padding: 0.7rem;
    background-color: #0065C3;
    color: #FFF;
    align-items: center;
    justify-content: center;
  }

.submit:hover{
    background-color: #ffffff;
    color: #0065C3;
    cursor: pointer;
    transition: .3s;
  }

.form-p {
    text-align: center;
  }

.map{
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
}

.row{
    margin: 0;
}

/* --- Conocenos --- */

.know-main{
    justify-content: center;
    display: flex;
}

.p_formcontact{
    margin: 0;
}

.know_us{
    display: flex;
    margin-bottom: 5rem;
  }

.us{
    flex-shrink: 1;
    } 

.pablo_face ,.pablo_face_mobile{
    width: 300px;
    position: relative;
    left: -32px;
    top: -95px;
    overflow: hidden;
  }
  
.pablo_face_mobile_div{
    display: none;
  }
    
.fig-caption{
    background-color: #0065C3;
    font-family: 'Belanosima', sans-serif;   
    font-weight: 600;
    color: #FFF; 
    position: relative;
    left: -32px;
    top: -115px;
    width: 300px;
    padding: 0.5rem;
    text-align: center;
  }

#Pablo_Scalise_Conocenos{
    font-family: 'Andalucia';
    color: #353535;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 0;
    line-height: 1.8;
}

.descripcion_pablo, p{
    text-align: justify;
    margin-bottom: 1rem;
    max-width: 800px;
}

.university{
    list-style-type: square;
    font-size: 1rem;
    font-weight: 400;
    color: #0065C3;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    z-index: -1;
}

.university-test{
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    color: #0065C3;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    padding-left: 0;
}

.us p, .text_testimonio{
    color: #353535;
    line-height : 25px;
}

.span_us{
    font-weight: 600;
}


.background_img{
    background-color: #fce96b00;
    width: 30%;
    height: 417px;
    border-radius: 25px 25px 0 0;
    top: 0;
    left: 0px;
    position: absolute;
}

/* --- Servicios --- */

.btn{
    display: none;
}

.services, .services_description{
    display: flex;
    flex-wrap: wrap;
}

.service{
    font-size: 1rem;
    color: #ffffff;
    line-height : 25px;
    background-color: #0065C3;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    flex: 1;
    min-width: 300px;
    border-radius: 25px;
}

h2.services_title{
    color: #FFF;
    font-size: 1,5rem;
    text-align: center;
}

.services_span, .aclaracion{
    color: #FF9900;
    text-align: center;
    margin-bottom: 100px;
}

.aclaracion{
    padding: 1rem;
}

#factory, #money, #laboratory{
    width: 125px;
}

.service_description{
    font-size: 1rem;
    font-weight: 100;
    color: #4e4e4e;
    line-height : 25px;
    border: #FF9900 solid 2px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    flex: 1;
    min-width: 300px;
    border-radius: 25px;
}

.services_text{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.services_text{
    list-style-type: circle;
    padding-left: 1rem;
    text-align: left;
}

#information{
    width: 100px;
    filter: invert(51%) sepia(86%) saturate(659%) hue-rotate(360deg) brightness(105%) contrast(106%);
}


.btn{
    background-color: #fce96b;
}

.btn:hover{
    background-color: #FF9900;
    color: #ffffff;
} 

.testimonios_a{
    min-width: 800px;
    background-color: #fce96b6c;
    display: flex;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.foto-testimonio{
    margin-right: 1rem;
    width: 150px;
}

#testimonio_title{
    font-family: 'Andalucia';
    color: #353535;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 0;
}

.card{
    border-radius: 25px;
    border: none;
}

.social_test{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.section2{
    margin-bottom: 100px;
    justify-content: center;
    display: flex;
}

.section1{
    justify-content: center;
    display: flex;
}

h5{
    padding: 0;
    font-family: 'sf_pro';
    color: #353535;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0;
}

.bi-star-fill{
    color: #ffdd00;
    font-size: large;
}

/* --- Adapacion para pantallas hasta 1050px --- */
@media screen and (max-width: 1050px) {

    /* --- Adapacion de navbar --- */
    .img_main{
        margin: 0;
    }

    .logo {
        margin-left: 0rem;
        max-width: 4rem;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrar-menu:hover{
        color: #FCE86B;
        transition: .2s;
    }

    .abrir-menu:hover{
        color: #FCE86B;
    }

    .abrir-menu {
        color: #ffffff;
    }

    .cerrar-menu {
        color: #ececec;
    }

    header{
        flex-direction: column;
        gap: 0;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        background-color: #0065C3;
        padding: 0rem;
        justify-content: flex-start;
        z-index: 2;
        transition: opacity .5s;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        gap: 2rem;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    ul.nav-list{
        margin: 0;
        margin-top: 3rem;
    }

    .nav-list li a {
        color: #ffffff;
    }

    .social_media{
        padding-top: 3rem;
        display: flex;
        justify-content: center;
    }

    div.solcial_media, i{
        margin-inline: .3rem;
    }

    .abrir-menu i, .cerrar-menu i {
    position: relative;
    animation: bounce 2s infinite; 
    }
  
    @keyframes bounce {
    0%, 100% {
      top: 0;
    }
    50% {
      top: 1rem;
    }
  }

  #active{
    text-decoration: underline 3px #fce96b;
}

body.menu-open {
    overflow: hidden;
}
   
}

/* --- Adapacion para pantallas hasta 800px --- */
@media screen and (max-width: 800px) {
    
    /* --- Index adaptado a tablet y mobile --- */
    .button-menu{
        display: block;
    }

    body{
        background: #D8E9CB url("../img/fondo-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .food_pack{
        background-color: #ff990000;
        background-image: url(../img/packaging.png);
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        background-position: top center;
        margin-top: -250px;
    } 

    main{
        padding-inline: 1rem;
        margin: 0;
    }

    .titulo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    
    h1{
        margin-top: 2rem;
        background-color: #0065c353;
        border-radius: 8px 8px 0 0;
        width: 100%;
        color: #FFF;
        font-size: 3rem;  
        font-weight: 600;
    }

    .line_title{
        width: 100%;
    }
    
    .Web_comment{
        width: auto;
        text-align: center;
        color: #FFF;
        text-shadow: 2px 1px 20px #272727b8;
        font-size: 1rem;
        font-weight: 400;
        padding-top: 1rem;
    }
    
    #button_conocenos{ 
        padding: 1rem;
        padding-inline: 1rem;
    }

    .cardholder__card{
        width: auto;
    }

    /* --- Know us adaptado a tablet --- */
     .know_us{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
      }
    
      .us{
        flex-shrink: 1;
        } 
    
      .pablo_face {
        display: none;
      }

      .pablo_face_mobile {
        max-width: 300px;
        background-size: contain;
        display: flex;
        margin-left: 1rem;
        padding: 0;
      }
        
      .fig-caption{
        margin-left: 1rem;
        margin-right: -3rem;
        top: -48px;
        width: auto;
      }
    
      #Pablo_Scalise_Conocenos{
        display: none;
    }
    
    .university{
       margin-top: -1rem;

    }
    
    .background_img{
        display: none;
    }
    
    .background_img_mobile{
        background-color: #ff000000;
        background-image: url("../img/pablo_pcalise_conocenos_mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        overflow: visible;
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
        top: 0;
        left: 0;
        position: absolute;
    }

    .pablo_face_mobile_div{
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #fce96b;
        padding: 0;
        margin: 0;
        top: -32px;
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 25px 25px 0 0;
        align-items: center;
    }

    .pablo_mobile{
        width: 40vw;
    }

    #Pablo_Scalise_Conocenos_mobile {
        padding: 1rem;
        line-height: 1.4;
        font-family: 'Andalucia';
        color: #353535;
        font-size: 6vw;
        white-space: nowrap;
        position: absolute;
        left: 25vw;
      }

      .img-fluid{
        width: 130px;
        margin-left: 60vw;
        position: absolute;
        
    }
    
  }

  /* --- Adapacion para pantallas hasta 576px --- */
  @media screen and (max-width: 576px){

    /* --- Know us adaptado a mobile --- */
    .form_main {
        background-color: #ffffff;
        width: auto;
        max-width: 100%;
        border-radius: 0;
        position: relative;
        margin-left: 0px;
        margin-bottom: 50px;
        margin-right: 0px;
        top: 50px;
      }

      main{
        padding: 0;
      }

      .us p{
        padding: 1rem;
        margin: 0;
      }

      p.descripcion_pablo{
        padding-top: 0;
        margin-top: 0;

      }

      ul.university{
        margin-bottom: 0;
        padding-bottom: 0;
        list-style-type: square;
      }

      .fig-caption{
        margin-right: -2rem;
      }

      .pablo_face_mobile_div {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    footer{
        position: relative;
        margin-top: -150px;
    }

    #Pablo_Scalise_Conocenos_mobile {
        font-size: 7vw;
      }

    /* --- Titulo contactanos mobile --- */

    .form_main{
        padding-top: 1rem;
    }

    /* --- Collapse service mobile --- */
    .btn{
        display: block;
    }

    .services_description{
        display: none;
    }

    .service_description{
        font-size: 1rem;
        color: #000000;
        line-height : 25px;
        border: none;
        padding: 0rem;
        margin: 0rem;
        text-align: center;
        flex: 1;
        min-width: 300px;
        border-radius: 25px;
    }

    .card-body{
        border-radius: 25px;
        border: none;
    }

    .col-12{
        margin-top: 1rem;
    }

    .img-fluid{
        width: 100px;
        margin-left: 70vw;
        margin-top: 20px;
        position: absolute;
        
    }

    .university-test{
        max-width: 70%;
    }

    #testimonio_title_h5{
        max-width: 60%;
    }

}
  