
    /* --- Know us adaptado a tablet --- */

    
    
    .background_img_mobile{
        background-color: #ff000000;
        background-image: url("../img/pablo_pcalise_conocenos_mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        overflow: visible;
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
        top: 0;
        left: 0;
        position: absolute;
    }

    .pablo_face_mobile_div{
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #fce96b;
        padding: 0;
        margin: 0;
        top: -32px;
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 25px 25px 0 0;
        align-items: center;
    }

    .pablo_mobile{
        width: 40vw;
    }

    #Pablo_Scalise_Conocenos_mobile {
        padding: 1rem;
        line-height: 1.4;
        font-family: 'Andalucia';
        color: #353535;
        font-size: 6vw;
        white-space: nowrap;
        position: absolute;
        left: 25vw;
      }

      .img-fluid{
        width: 130px;
        margin-left: 60vw;
        position: absolute;
        
    }

  /* --- Adapacion para pantallas hasta 576px --- */
  @media screen and (max-width: 576px){

    /* --- Know us adaptado a mobile --- */
    .form_main {
        background-color: #ffffff;
        width: auto;
        max-width: 100%;
        border-radius: 0;
        position: relative;
        margin-left: 0px;
        margin-bottom: 50px;
        margin-right: 0px;
        top: 50px;
      }

      main{
        padding: 0;
      }

      .us p{
        padding: 1rem;
        margin: 0;
      }

      p.descripcion_pablo{
        padding-top: 0;
        margin-top: 0;

      }

      ul.university{
        margin-bottom: 0;
        padding-bottom: 0;
        list-style-type: square;
      }

      .fig-caption{
        margin-right: -2rem;
      }

      .pablo_face_mobile_div {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    footer{
        position: relative;
        margin-top: -150px;
    }

    #Pablo_Scalise_Conocenos_mobile {
        font-size: 7vw;
      }

    /* --- Titulo contactanos mobile --- */

    .form_main{
        padding-top: 1rem;
    }

    /* --- Collapse service mobile --- */
    .btn{
        display: block;
    }

    .services_description{
        display: none;
    }

    .service_description{
        font-size: 1rem;
        color: #000000;
        line-height : 25px;
        border: none;
        padding: 0rem;
        margin: 0rem;
        text-align: center;
        flex: 1;
        min-width: 300px;
        border-radius: 25px;
    }

    .card-body{
        border-radius: 25px;
        border: none;
    }

    .col-12{
        margin-top: 1rem;
    }

    .img-fluid{
        width: 100px;
        margin-left: 70vw;
        margin-top: 20px;
        position: absolute;
        
    }

    .university-test{
        max-width: 70%;
    }

    #testimonio_title_h5{
        max-width: 60%;
    }

}
  