
    /* --- Titulo contactanos mobile --- */

    .form_main{
        padding-top: 1rem;
    }

    /* --- Collapse service mobile --- */
    .btn{
        display: block;
    }

    .services_description{
        display: none;
    }

    .service_description{
        font-size: 1rem;
        color: #000000;
        line-height : 25px;
        border: none;
        padding: 0rem;
        margin: 0rem;
        text-align: center;
        flex: 1;
        min-width: 300px;
        border-radius: 25px;
    }

    .card-body{
        border-radius: 25px;
        border: none;
    }
  