@font-face {
  font-family: spirit;
  src: url(./NatureSpirit.otf);
}
@font-face {
  font-family: Andalucia;
  src: url(./andalucia.ttf);
}
@font-face {
  font-family: sf_pro;
  src: url(./sf_pro_light.OTF);
}
@font-face {
  font-family: sf_pro_bold;
  src: url(./sf_pro_bold.OTF);
}
@font-face {
  font-family: sf_pro_light;
  src: url(./sf_pro_ultra_light.OTF);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sf_pro";
}
*::-moz-selection {
  color: #fce96b;
  background-color: #0065C3;
}
*::selection {
  color: #fce96b;
  background-color: #0065C3;
}

body {
  background: #D8E9CB url("../img/fondo-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  body {
    background: #D8E9CB url("../img/back-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
body .food_pack {
  background-image: url(../img/packaging.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 50vw;
  right: 0;
  bottom: -100px;
  height: 120vh;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  body .food_pack {
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: top center;
    margin-top: -120px;
  }
}
body .slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 2.2rem;
  background-color: #0065C3;
  color: #FFF;
  margin-bottom: 3rem;
  box-shadow: 0px 15px 20px 15px #0065C3;
}
@media screen and (max-width: 1050px) {
  header {
    flex-direction: column;
    gap: 0;
  }
}
header .abrir-menu {
  display: none;
  color: #FFF;
}
header .abrir-menu > i {
  position: relative;
}
header .abrir-menu > i:hover {
  color: #fce96b;
}
@media screen and (max-width: 1050px) {
  header .abrir-menu {
    display: block;
    position: absolute;
    right: 1rem;
    border: 0;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
  }
}
header .cerrar-menu {
  display: none;
  color: #FFF;
}
header .cerrar-menu > i {
  position: relative;
}
header .cerrar-menu > i:hover {
  color: #fce96b;
}
@media screen and (max-width: 1050px) {
  header .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
  }
}
header .logo {
  margin-left: 2rem;
  max-width: 4rem;
}
@media screen and (max-width: 1050px) {
  header .logo {
    margin-left: 0rem;
    max-width: 4rem;
  }
}
header nav {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
header nav.visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1050px) {
  header nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background-color: #0065C3;
    padding: 0rem;
    justify-content: flex-start;
    z-index: 2;
    transition: opacity 0.5s;
  }
}
header nav #active {
  -webkit-text-decoration: underline 3px #fce96b;
          text-decoration: underline 3px #fce96b;
}
header nav .social_media {
  display: flex;
  gap: 0.5rem;
  margin-right: 2rem;
}
@media screen and (max-width: 1050px) {
  header nav .social_media {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}
header nav .social_media i {
  color: #ffffff;
  font-size: 2rem;
}
@media screen and (max-width: 576px) {
  header nav .social_media i {
    font-size: 2.5rem;
  }
}
header nav .social_media i:hover {
  color: #fce96b;
  transition: 0.2s;
}
header nav .nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (max-width: 1050px) {
  header nav .nav-list {
    margin-top: 5rem;
    gap: 2rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
}
header nav .nav-list a {
  text-decoration: none;
  color: #ffffff;
}
header nav .nav-list a:hover {
  color: #fce96b;
  transition: 0.2s;
}
header nav .nav_c {
  border: #FFF 2px solid;
  border-radius: 25px;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  gap: 0.2rem;
}
header nav .nav_c:hover {
  color: #fce96b;
  transition: 0.2s;
}
header nav .nav_c .bi-asterisk {
  display: inline-block;
  animation: spin 10s linear infinite, colorBlink 2s linear infinite;
  transform-origin: center;
}
@media screen and (max-width: 1050px) {
  header nav .nav_c .bi-asterisk {
    display: none;
  }
}

body.menu-open {
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes colorBlink {
  0% {
    color: #fce96b;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #fce96b;
  }
}
@keyframes bounce {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 1rem;
  }
}
main {
  padding: 2rem;
  /*.pablo-saluda {
    margin: 0;

    .handless {
      width: 300px;
      position: relative;
      right: -50px;
      bottom: -20px;
    }

    .hand {
      width: 80px;
      position: relative;
      right: 236px;
      bottom: 39px;
      z-index: -1;
      animation: saludo 2s infinite linear;
      transform-origin: bottom center;
    }
  }*/
}
@media screen and (max-width: 768px) {
  main.container {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding-inline: 1rem;
    margin: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin: 0;
  }
}
main .text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media screen and (max-width: 768px) {
  main .titulo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
  }
}
main .titulo h1 {
  text-align: center;
  min-width: 5px;
  font-family: "spirit";
  background-color: rgba(0, 101, 195, 0.3254901961);
  border-radius: 8px 8px 0 0;
  padding-inline: 1rem;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
  color: #FFF;
  font-size: 3rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  main .titulo h1 {
    margin-top: 0;
    padding-top: 1rem;
    background-color: rgba(0, 101, 195, 0.3254901961);
    border-radius: 8px 8px 0 0;
    width: 100%;
    color: #FFF;
    font-size: 3rem;
    font-weight: 600;
  }
}
main .titulo .line_title {
  width: 518px;
  height: 6px;
  background: #fce96b;
  border-radius: 0 0 8px 8px;
}
@media screen and (max-width: 768px) {
  main .titulo .line_title {
    width: 100%;
  }
}
main .titulo .Web_comment {
  width: 700px;
  color: #FFF;
  text-shadow: 2px 1px 20px rgba(39, 39, 39, 0.7215686275);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
}
@media screen and (max-width: 768px) {
  main .titulo .Web_comment {
    width: auto;
    text-align: center;
    color: #FFF;
    text-shadow: 2px 1px 20px rgba(39, 39, 39, 0.7215686275);
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
  }
}
main .titulo #button_conocenos {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 8px rgba(70, 190, 217, 0.2039215686);
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-size: larger;
  font-weight: 900;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 25px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  main .titulo #button_conocenos {
    padding: 1rem;
    padding-inline: 1rem;
  }
}
main .titulo #button_conocenos:hover {
  background-color: #fce96b;
  transition: 0.3s;
}
main .titulo #button_conocenos a {
  font-family: "sf_pro_bold";
  text-decoration: none;
  color: #0065C3;
}
main .text-focus-in-2 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}
main .pablo-saluda {
  display: flex;
  align-items: center;
  background: rgb(0, 101, 195);
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.4784313725) 31%, rgba(90, 153, 255, 0.1254901961) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0065c3",endColorstr="#ffffff",GradientType=1);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
  width: 700px;
  min-height: 220px;
}
@media screen and (max-width: 768px) {
  main .pablo-saluda {
    width: auto;
  }
}
main .pablo-saluda .head {
  position: relative;
  background: linear-gradient(12deg, #0073ff, #fa00a8, #ff9000, #aa00ff, #ffdf00);
  background-size: 1000% 1000%;
  animation: AnimationName 9s ease infinite;
  border-radius: 100px;
  width: 8rem;
  height: 8em;
  margin-left: 0.2rem;
  padding: 0.4rem;
}
main .pablo-saluda .messages {
  flex-grow: 1;
}
main .pablo-saluda .messages .cuadradito {
  background-color: brown;
  color: aliceblue;
  margin: 1rem;
  padding: 1rem;
}
main .pablo-saluda .messages body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: 100vh;
  background: #FFF;
}
main .pablo-saluda .messages .messages {
  margin-top: 2rem;
  overflow: auto;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: wrap;
  max-height: 100vh;
  padding: 1rem 0.9rem;
}
main .pablo-saluda .messages .bubble {
  overflow: hidden;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0 0.125rem 0;
  padding: 0.5rem 0.85rem;
  line-height: 1.25rem;
  border-radius: 1rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius 0.25s ease-out 0.075s;
}
main .pablo-saluda .messages .bubble.left.cornered {
  border-bottom-left-radius: 0;
}
main .pablo-saluda .messages .bubble.left {
  background: #1fb948;
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(44, 44, 44, 0);
}
main .pablo-saluda .messages .bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background-size: 0.5rem 0.5rem;
  background-position: 0.5rem 0;
  background-repeat: no-repeat;
  transition: background-position 0.15s ease-in;
}
main .pablo-saluda .messages .bubble.cornered:after {
  background-position: 0 0;
}
main .pablo-saluda .messages .bubble span {
  display: block;
}
main .pablo-saluda .messages .bubble span.message {
  opacity: 0;
}
main .pablo-saluda .messages .bubble a {
  color: #0076FF;
}
main .pablo-saluda .messages .bubble .loading {
  position: absolute;
  width: 2.25rem;
  font-size: 1.5rem;
  line-height: 1rem;
}
@media screen and (max-width: 576px) {
  main .pablo-saluda .messages .bubble .loading {
    font-size: 0.8rem;
  }
}
main .pablo-saluda .messages .bubble .loading b {
  display: inline-block;
  color: white;
}
main .cardholder {
  padding: 0rem 0;
}
main .cardholder__card {
  width: 700px;
  color: #FFF;
  font-size: 1rem;
  background-color: rgba(0, 101, 195, 0.7450980392);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  main .cardholder__card {
    width: auto;
  }
}
main .cardholder__card--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .cardholder__card--title h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
main .cardholder__card--title .img_row {
  width: 20px;
  z-index: 1;
  filter: invert(7%) sepia(46%) saturate(5355%) hue-rotate(197deg) brightness(101%) contrast(101%);
  transition: 0.3s;
  cursor: pointer;
}
main .cardholder__card--title .img_row:hover {
  filter: invert(100%);
  transition: 0.1s;
}
main .cardholder__card .line {
  width: 208px;
  height: 6px;
  background: #fce96b;
  border-radius: 4px;
  margin: 10px 0 20px 0;
}
main .cardholder__card .row_span {
  font-weight: 900;
  text-decoration-line: underline;
}

/* --- Conocenos --- */
.know-main {
  justify-content: center;
  display: flex;
}
.know-main .know_us {
  display: flex;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .know-main .know_us {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.know-main .know_us .us .pablo_face,
.know-main .know_us .us .pablo_face_mobile {
  width: 300px;
  position: relative;
  left: -32px;
  top: -95px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .pablo_face,
  .know-main .know_us .us .pablo_face_mobile {
    display: none;
  }
}
.know-main .know_us .us .pablo_face_mobile_div {
  display: none;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .pablo_face_mobile_div {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fce96b;
    padding: 0;
    margin: 0;
    top: -32px;
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 25px 25px 0 0;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .know-main .know_us .us .pablo_face_mobile_div {
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .pablo_face_mobile_div .pablo_face_mobile {
    max-width: 300px;
    background-size: contain;
    display: flex;
    margin-left: 1rem;
    padding: 0;
  }
  .know-main .know_us .us .pablo_face_mobile_div #Pablo_Scalise_Conocenos_mobile {
    padding: 1rem;
    line-height: 1.4;
    font-family: "Andalucia";
    color: #353535;
    font-size: 6vw;
    white-space: nowrap;
    position: absolute;
    left: 25vw;
  }
}
.know-main .know_us .us .fig-caption {
  background-color: #0065C3;
  font-family: "sf_pro_bold";
  font-weight: 600;
  color: #FFF;
  position: relative;
  left: -32px;
  top: -115px;
  width: 300px;
  padding: 0.5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .fig-caption {
    margin-left: 1rem;
    margin-right: -3rem;
    top: -48px;
    width: auto;
  }
}
.know-main .know_us .us #Pablo_Scalise_Conocenos {
  font-family: "Andalucia";
  color: #353535;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 0;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us #Pablo_Scalise_Conocenos {
    display: none;
  }
}
.know-main .know_us .us .descripcion_pablo,
.know-main .know_us .us p {
  text-align: justify;
  margin-bottom: 1rem;
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .descripcion_pablo:nth-last-child(1),
  .know-main .know_us .us p:nth-last-child(1) {
    margin-bottom: 100px;
  }
}
.know-main .know_us .us .university {
  list-style-type: square;
  font-size: 1rem;
  font-weight: 400;
  color: #0065C3;
  padding-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .know-main .know_us .us .university {
    margin-top: -1rem;
  }
}
.know-main .know_us .us .university-test {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  color: #0065C3;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0;
  padding-left: 0;
}
.know-main .know_us .us .us p {
  color: #353535;
  line-height: 25px;
}
.know-main .know_us .us .span_us {
  font-weight: 600;
}

.form_main {
  background-color: #ffffff;
  width: auto;
  max-width: 100%;
  border-radius: 25px;
  position: relative;
  margin-left: 25px;
  margin-bottom: 50px;
  margin-right: 25px;
  top: 50px;
  bottom: -100px;
}
@media screen and (max-width: 576px) {
  .form_main {
    background-color: #ffffff;
    width: auto;
    max-width: 100%;
    border-radius: 0;
    position: relative;
    margin-left: 0px;
    margin-bottom: 50px;
    margin-right: 0px;
    top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .form_main .background_img_mobile {
    background-color: rgba(255, 0, 0, 0);
    background-image: url("../img/pablo_pcalise_conocenos_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
    top: 0;
    left: 0;
    position: absolute;
  }
  .form_main .pablo_mobile {
    width: 40vw;
  }
  .form_main #Pablo_Scalise_Conocenos_mobile {
    padding: 1rem;
    line-height: 1.4;
    font-family: "Andalucia";
    color: #353535;
    font-size: 6vw;
    white-space: nowrap;
    position: absolute;
    left: 25vw;
  }
  .form_main .img-fluid {
    width: 130px;
    margin-left: 60vw;
    position: absolute;
  }
}

/* --- Servicios --- */
.form_main .btn {
  display: none;
  background-color: #fce96b;
}
@media screen and (max-width: 576px) {
  .form_main .btn {
    margin-top: 1rem;
    display: block;
  }
}
.form_main .btn:hover {
  background-color: #FF9900;
  color: #ffffff;
}
.form_main .aclaracion {
  color: #FF9900;
  text-align: center;
  margin-bottom: 100px;
}
.form_main .services,
.form_main .services_description {
  display: flex;
  flex-wrap: wrap;
}
.form_main .services_text {
  font-family: "sf_pro_light";
  margin: 0;
  padding: 0;
  text-align: justify;
  list-style-type: circle;
  padding-left: 1rem;
  text-align: left;
}
.form_main .services_text li {
  font-family: "sf_pro_light";
}
.form_main h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.form_main .service_description {
  font-size: 1rem;
  color: #000000;
  line-height: 25px;
  border: none;
  padding: 0rem;
  margin: 0rem;
  text-align: center;
  flex: 1;
  min-width: 300px;
  border-radius: 25px;
}
.form_main .service_description h2 {
  color: #4e4e4e;
}
.form_main .service_description #information {
  width: 100px;
  filter: invert(51%) sepia(86%) saturate(659%) hue-rotate(360deg) brightness(105%) contrast(106%);
}
.form_main .service_description .services_span {
  color: #FF9900;
  text-align: center;
  margin-bottom: 100px;
}
.form_main .service_description__d {
  font-size: 1rem;
  color: #4e4e4e;
  line-height: 25px;
  border: #FF9900 solid 2px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  flex: 1;
  min-width: 300px;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .form_main .service_description__d {
    display: none;
  }
}
.form_main .service_description__d #information {
  width: 100px;
  filter: invert(51%) sepia(86%) saturate(659%) hue-rotate(360deg) brightness(105%) contrast(106%);
}
.form_main .service_description__d .services_span {
  color: #FF9900;
  text-align: center;
  margin-bottom: 100px;
}

.service {
  font-size: 1rem;
  color: #ffffff;
  line-height: 25px;
  background-color: #0065C3;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  flex: 1;
  min-width: 300px;
  border-radius: 25px;
}
@media screen and (max-width: 576px) {
  .service {
    width: 100%;
    margin-inline: 0;
  }
}
.service #factory,
.service #money,
.service #laboratory {
  width: 125px;
}
.service h2 {
  color: #FFF;
  font-size: 1.4rem;
  text-align: center;
}
.service .services_span {
  color: #FF9900;
  text-align: center;
  margin-bottom: 100px;
}
.service .card-body {
  border-radius: 15px;
}

/* --- Testimonios --- */
.section2 {
  margin-bottom: 100px;
}

.section1,
.section2 {
  justify-content: center;
  display: flex;
}
.section1 .card,
.section2 .card {
  border: none;
}
.section1 .card .fondo-1,
.section2 .card .fondo-1 {
  background: rgb(248, 248, 248);
  background: linear-gradient(180deg, rgb(248, 248, 248) 31%, rgb(247, 183, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f8f8f8", endColorstr="#f7b7ff", GradientType=1 );
  padding-bottom: 1rem;
  border-radius: 25px;
}
.section1 .card .fondo-2,
.section2 .card .fondo-2 {
  background: rgb(248, 248, 248);
  background: linear-gradient(180deg, rgb(248, 248, 248) 31%, rgb(255, 174, 83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f8f8f8", endColorstr="#ffae53", GradientType=1 );
  padding-bottom: 1rem;
  border-radius: 25px;
}
.section1 .card .container,
.section2 .card .container {
  display: flex;
  flex-wrap: wrap;
  margin: 400px;
}
.section1 .card .cs-message-emisor,
.section1 .card .cs-message-receptor,
.section2 .card .cs-message-emisor,
.section2 .card .cs-message-receptor {
  opacity: 0;
}
.section1 .card .cs-message-emisor.burbuja--1,
.section1 .card .cs-message-receptor.burbuja--1,
.section2 .card .cs-message-emisor.burbuja--1,
.section2 .card .cs-message-receptor.burbuja--1 {
  animation-delay: 2s;
}
.section1 .card .cs-message-emisor.burbuja--2,
.section1 .card .cs-message-receptor.burbuja--2,
.section2 .card .cs-message-emisor.burbuja--2,
.section2 .card .cs-message-receptor.burbuja--2 {
  animation-delay: 4s;
}
.section1 .card .cs-message-emisor.burbuja--3,
.section1 .card .cs-message-receptor.burbuja--3,
.section2 .card .cs-message-emisor.burbuja--3,
.section2 .card .cs-message-receptor.burbuja--3 {
  animation-delay: 6s;
}
.section1 .card .cs-message-emisor,
.section2 .card .cs-message-emisor {
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1921568627);
  max-width: 90%;
  width: auto;
  height: auto;
  background-color: lightgreen;
  float: right;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: relative;
  animation: appear 1s ease 2s both;
}
.section1 .card .cs-message-emisor::before,
.section2 .card .cs-message-emisor::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: lightgreen;
  transform: skew(0deg, 45deg);
}
.section1 .card .cs-message-emisor p,
.section1 .card .cs-message-emisor span,
.section2 .card .cs-message-emisor p,
.section2 .card .cs-message-emisor span {
  position: relative;
  z-index: 1;
  margin: 0;
}
.section1 .card .cs-message-emisor p,
.section2 .card .cs-message-emisor p {
  overflow-wrap: break-word;
  display: inline;
  font-size: 14px;
  line-height: 1;
  color: #505b66;
}
.section1 .card .cs-message-emisor strong,
.section2 .card .cs-message-emisor strong {
  font-family: "sf_pro_bold";
  color: #404952;
}
.section1 .card .cs-message-emisor span,
.section2 .card .cs-message-emisor span {
  font-size: 12px;
  float: right;
  margin: 3px 0 0 10px;
  color: #828282;
}
.section1 .card .cs-message-receptor,
.section2 .card .cs-message-receptor {
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1921568627);
  max-width: 90%;
  width: auto;
  height: auto;
  background-color: lightblue;
  float: left;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: relative;
  animation: appear 1s ease 2s both;
}
.section1 .card .cs-message-receptor::before,
.section2 .card .cs-message-receptor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: lightblue;
  transform: skew(0deg, -45deg);
}
.section1 .card .cs-message-receptor p,
.section1 .card .cs-message-receptor span,
.section2 .card .cs-message-receptor p,
.section2 .card .cs-message-receptor span {
  position: relative;
  z-index: 1;
  margin: 0;
}
.section1 .card .cs-message-receptor p,
.section2 .card .cs-message-receptor p {
  overflow-wrap: break-word;
  display: inline;
  font-size: 14px;
  line-height: 1;
  color: #505b66;
}
.section1 .card .cs-message-receptor strong,
.section2 .card .cs-message-receptor strong {
  font-family: "sf_pro_bold";
  color: #404952;
}
.section1 .card .cs-message-receptor span,
.section2 .card .cs-message-receptor span {
  font-size: 12px;
  float: right;
  margin: 3px 0 0 10px;
  color: #828282;
}
.section1 .cell,
.section2 .cell {
  width: 100%;
}
.section1 h5,
.section2 h5 {
  font-family: "Andalucia";
  padding: 1rem;
  color: #353535;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0;
}
.section1 .university-test,
.section2 .university-test {
  list-style-type: none;
  padding: 0;
  color: #0065C3;
  font-size: 1rem;
}
.section1 p,
.section2 p {
  text-align: justify;
  margin-bottom: 1rem;
  max-width: 800px;
}
.section1 p .span_test,
.section2 p .span_test {
  font-family: "sf_pro_bold";
}
.section1 .bi-star-fill,
.section2 .bi-star-fill {
  color: #fce96b;
  font-size: large;
}
.section1 .social_test,
.section2 .social_test {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.section1 .social_test i,
.section2 .social_test i {
  color: #353535;
}
.section1 .social_test i:hover,
.section2 .social_test i:hover {
  color: #0065C3;
}

/* --- Formulario contactanos --- */
.formulario .row .columna__titulo h1 {
  margin-top: 1rem;
  color: #0065C3;
  text-transform: uppercase;
  font-family: "sf_pro_bold";
  font-size: 1.5rem;
}
.formulario .row .columna__titulo h2 {
  color: #353535;
  font-size: 1rem;
}
.formulario .row .columna__1 .form-floating {
  margin: 1rem;
}
.formulario .row .columna__1 .form-floating .required {
  color: #0065C3;
  margin-left: 0.2rem;
}
.formulario .row .columna__1 .form-floating #submit {
  padding: 0.5rem;
  color: #fff;
  background-color: #0065C3;
  border: none;
  border-radius: 10px;
  width: 150px;
  margin-bottom: 100px;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .formulario .row .columna__1 .form-floating #submit {
    margin-bottom: 1rem;
  }
}
.formulario .row .columna__1 .form-floating #submit:hover {
  color: #000;
  background-color: #fce96b;
}
.formulario .row .columna__2 .map {
  border-radius: 15px;
  border-color: #0065C3;
}
@media screen and (max-width: 768px) {
  .formulario .row .columna__2 {
    margin-bottom: 200px;
  }
}
.formulario .row .columna__2 .icons-contactos .cajita-contactos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0065C3;
  padding: 0.5rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.formulario .row .columna__2 .icons-contactos .cajita-contactos a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.formulario .row .columna__2 .icons-contactos .cajita-contactos a:hover {
  color: #fce96b;
}
.formulario .row .columna__2 .icons-contactos .cajita-contactos .bi {
  font-size: 1.5rem;
  color: white;
}
.formulario .row .columna__2 .icons-contactos .cajita-contactos h3 {
  font-size: 1rem;
  color: white;
}

@keyframes saludo {
  0%, 100% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(18deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in-2 {
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
footer {
  text-align: left;
  background-color: #0065C3;
  color: #FFF;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  position: absolute;
  bottom: -100px;
  align-items: center;
  width: 100%;
}
footer .contenedor_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contenedor_footer i {
  padding-inline: 0.1rem;
  color: #ffffff;
  font-size: 2rem;
}
footer .contenedor_footer i:hover {
  color: #fce96b;
  transition: 0.2s;
}
footer .contenedor_footer .icon-foot {
  margin-left: 1rem;
}/*# sourceMappingURL=style.css.map */