body {

  background: $tertiarycolor url("../img/fondo-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;

  @include tablet{
    background: #D8E9CB url("../img/back-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

  .food_pack {
    background-image: url(../img/packaging.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 50vw;
    right: 0;
    bottom: -100px;
    height: 120vh;
    z-index: -1;

    @include tablet{
      background-size: contain;
      width: 100%;
      background-repeat: no-repeat;
      position: relative;
      background-position: top center;
      margin-top: -120px;
  } 
  }

  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 