body {

  #loader-abr{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: $maincolor transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

body {
  background-color: #D8E9CB;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    background-color: #D8E9CB;
  }
}

body.loaded {
  background: $tertiarycolor url("../img/fondo-desktop.svg");

  @include tablet {
    body.loaded {
      background: #D8E9CB url("../img/fondo-mobile.svg");
    }
  }
}

  .food_pack {
    background-image: url(../img/packaging.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 50vw;
    right: 0;
    bottom: -100px;
    height: 120vh;
    z-index: -1;

    @include tablet{
      background-color: #ff990000;
      background-image: url(../img/packaging.png);
      background-size: contain;
      width: 100%;
      background-repeat: no-repeat;
      position: relative;
      background-position: top center;
      margin-top: -250px;
  } 
  }

  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 