footer {
    text-align: left;
    background-color: $maincolor;
    color: #FFF;
    font-size: 0.8rem;
    padding: 1rem;
    display: flex;
    position: absolute;
    bottom: -100px;
    align-items: center;
    width: 100%;
  
    .contenedor_footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      i {
        padding-inline: 0.1rem;
        color: #ffffff;
        font-size: 2rem;
  
        &:hover {
          color: $secondarycolor;
          transition: 0.2s;
        }
      }
  
      .icon-foot {
        margin-left: 1rem;
      }
    }
  }  