/* --- Fonts --- */
@font-face {
    font-family: 'spirit';
    src: url(./NatureSpirit.otf);
}

@font-face {
    font-family: 'Andalucia';
    src: url(./andalucia.ttf);
}

@font-face {
    font-family: 'sf_pro';
    src: url(./sf_pro_light.OTF);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sf_pro';
}

/* --- Seleccion de texto --- */
*::selection{
    color: #fce96b;
    background-color: #0065c3b5;
}