main {
  padding: 2rem;

  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  .titulo {
    h1 {
      text-align: center;
      min-width: 5px;
      font-family: $titlefont;
      background-color: #0065c353;
      border-radius: 8px 8px 0 0;
      padding-inline: 1rem;
      margin: 0;
      width: max-content;
      color: #FFF;
      font-size: 3rem;
      font-weight: 600;
    }

    .line_title {
      width: 518px;
      height: 6px;
      background: $secondarycolor;
      border-radius: 0 0 8px 8px;
    }

    .Web_comment {
      width: 700px;
      color: #FFF;
      text-shadow: 2px 1px 20px #272727b8;
      font-size: 1rem;
      font-weight: 400;
      padding-top: 1rem;
    }

    #button_conocenos {
      background-color: #ffffff;
      box-shadow: 0px 0px 25px 8px #46bed934;
      width: max-content;
      text-align: center;
      font-size: larger;
      font-weight: 900;
      padding: 1rem 2rem;
      margin-top: 1rem;
      border-radius: 25px;
      cursor: pointer;

      &:hover {
        background-color: $secondarycolor;
        transition: .3s;
      }

      a {
        font-family: $tertiaryfont;
        text-decoration: none;
        color: $maincolor;
      }
    }
  }

  .text-focus-in-2 {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
  }

  .cardholder {
    padding: 4rem 0;

    &__card {
      width: 700px;
      color: #FFF;
      font-size: 1rem;
      background-color: #0065c3be;
      border-radius: 25px;
      padding: 1rem;
      margin-top: 1rem;

      &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .img_row {
          width: 20px;
          z-index: 1;
          filter: invert(7%) sepia(46%) saturate(5355%) hue-rotate(197deg) brightness(101%) contrast(101%);
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            filter: invert(100%);
            transition: 0.1s;
          }
        }
      }

      .line {
        width: 208px;
        height: 6px;
        background: $secondarycolor;
        border-radius: 4px;
        margin: 10px 0 20px 0;
      }

      .row_span {
        font-weight: 900;
        text-decoration-line: underline;
      }
    }
  }
}

/* --- Conocenos --- */

.know-main {
  justify-content: center;
  display: flex;

  .know_us {
    display: flex;
    margin-bottom: 5rem;

    .us {
      flex-shrink: 1;

      .pablo_face,
      .pablo_face_mobile {
        width: 300px;
        position: relative;
        left: -32px;
        top: -95px;
        overflow: hidden;
      }

      .pablo_face_mobile_div {
        display: none;
      }

      .fig-caption {
        background-color: $maincolor;
        font-family: $tertiaryfont;
        font-weight: 600;
        color: #FFF;
        position: relative;
        left: -32px;
        top: -115px;
        width: 300px;
        padding: 0.5rem;
        text-align: center;
      }

      h2 {
        font-family: $secondaryfont;
        color: #353535;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 0;
        line-height: 1.8;
      }

      .descripcion_pablo,
      p {
        text-align: justify;
        margin-bottom: 1rem;
        max-width: 800px;
      }

      .university {
        list-style-type: square;
        font-size: 1rem;
        font-weight: 400;
        color: $maincolor;
        padding-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
        z-index: -1;
      }

      .university-test {
        list-style-type: none;
        font-size: 1rem;
        font-weight: 400;
        color: $maincolor;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 0;
        padding-left: 0;
      }

      .us p {
        color: #353535;
        line-height: 25px;
      }

      .span_us {
        font-weight: 600;
      }

      .background_img {
        background-color: #fce96b00;
        width: 30%;
        height: 417px;
        border-radius: 25px 25px 0 0;
        top: 0;
        left: 0px;
        position: absolute;
      }
    }
  }
}

.form_main {
  background-color: #ffffff;
  width: auto;
  max-width: 100%;
  border-radius: 25px;
  position: relative;
  margin-left: 25px;
  margin-bottom: 50px;
  margin-right: 25px;
  top: 50px;
  bottom: -100px;
}

/* --- Servicios --- */

.form_main {
  .btn {
    display: none;
    background-color: $secondarycolor;

    &:hover {
      background-color: $quaternarycolor;
      color: #ffffff;
    }
  }

  .aclaracion {
    color: $quaternarycolor;
    text-align: center;
    margin-bottom: 100px;
  }

  .services,
  .services_description {
    display: flex;
    flex-wrap: wrap;

    .services_text {
      font-family: $quaternaryfont;
      margin: 0;
      padding: 0;
      text-align: justify;
      list-style-type: circle;
      padding-left: 1rem;
      text-align: left;

      li {
        font-family: $quaternaryfont;
      }
    }

    h2 {
      font-size: 1.4rem;
      margin-top: 1rem;
    }

    .service_description {
      font-size: 1rem;
      color: #4e4e4e;
      line-height: 25px;
      border: $quaternarycolor solid 2px;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
      flex: 1;
      min-width: 300px;
      border-radius: 25px;

      #information {
        width: 100px;
        filter: invert(51%) sepia(86%) saturate(659%) hue-rotate(360deg) brightness(105%) contrast(106%);
      }

      .services_span {
        color: $quaternarycolor;
        text-align: center;
        margin-bottom: 100px;
      }
    }
  }

  .service {
    font-size: 1rem;
    color: #ffffff;
    line-height: 25px;
    background-color: $maincolor;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    flex: 1;
    min-width: 300px;
    border-radius: 25px;

    #factory,
    #money,
    #laboratory {
      width: 125px;
    }

    h2 {
      color: #FFF;
      font-size: 1.4rem;
      text-align: center;
    }

    .services_span {
      color: $quaternarycolor;
      text-align: center;
      margin-bottom: 100px;
    }
  }
}

/* --- Testimonios --- */

.section2 {
  margin-bottom: 100px;
}

.section1, .section2 {
  justify-content: center;
  display: flex;

  h5 {
    font-family: 'Andalucia';
    padding: 1rem;
    color: #353535;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0;
  }

  .university-test {
    list-style-type: none;
    padding: 0;
    color: $maincolor;
    font-size: 1rem;
  }

  p {
    text-align: justify;
    margin-bottom: 1rem;
    max-width: 800px;

    .span_test {
      font-family: $tertiaryfont;
    }
  }

  .bi-star-fill {
    color: $secondarycolor;
    font-size: large;
  }

  .social_test {
    margin-top: 1rem;
    font-size: 1.5rem;

    i {
      color: #353535;

      &:hover {
        color: $maincolor;
      }
    }
  }
}

/* --- Formulario contactanos --- */

.formulario {
  h2 {
    text-align: center;
  }

  h6 {
    width: 100%;
    text-align: justify;
  }

  .map {
    border-radius: 25px;
    margin-top: 1rem;
    width: 100%;
  }

  .form {
    width: 100%;

    input, textarea, select {
      border-radius: 25px;
      width: 100%;
      height: 60px;
      padding: 1rem;
      border: #0065C3 solid 2px;
      color: #0065C3;
      font-size: 1rem;
      font-weight: 600;
    }

    input:enabled:focus, textarea:enabled:focus {
      border: #0065c37d solid 8px;
    }

    textarea {
      min-height: 200px;
    }
  }

  #submit {
    width: 50%;
    font-size: 1rem;
    padding: 0.7rem;
    background-color: $maincolor;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: #ffffff;
      color: #0065C3;
      cursor: pointer;
      transition: .3s;
    }
  }
}

@mixin text-focus-keyframes {
    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  
    @-webkit-keyframes text-focus-in-2 {
      0% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  
    @keyframes text-focus-in-2 {
      0% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
  
  @include text-focus-keyframes;